<html ng-app="stampApp">
	<head>
		<link rel="stylesheet"	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Angular -->
		<script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
    	<script src="https://code.angularjs.org/1.4.3/angular-resource.min.js"></script>

    	<script src="static/js/app.js"></script>
	</head>
	<body ng-controller="stampCtrl">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h1>Stamp-Hub</h1>
					<table class="table table-striped">
						<tr valign="top" ng-repeat="stamp in stamps">
							<td>
								<img src='{a stamp.image a}' height='100' width='100'/>
							</td>
							<td>
								<b>Image {a stamp.id a}: Plate {a stamp.plate_number a}</b><br>
								Tags:<span ng-repeat="tag in stamp.tags">#{a tag.name a} </span><br>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>